.img{
    transition: all .5s;
}
  
.img:hover{
    width: 300px;
    transform: translate(0px, -20px);
}

.img2{
    transition: all .5s;
}
  
.img2:hover{
    width: 640px;
    transform: translate(0px, -20px);
    
}
